/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
	font-family: 'Raleway';
}

header{
	width: 85%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 15px;
	min-height: 50px;
  	background-color: #FF0070;
  	margin-top: 25px;
  	margin-bottom: 20px;
}

.headerElements{
  	padding: 10px;
  	margin-left: 35px;
}

.menu{
	text-align: right;
	width: 85%;
	background-color: #00A2FF;
	margin-left: auto;
	margin-right: auto;
	padding: 1px 15px;
	margin-bottom: 20px;
}

#logo{
	font-size: 34px;
	text-transform: uppercase;
	display: block;
	vertical-align: middle;
	position: relative;
	padding: 7px;
}

ul.menus{
  list-style-type: none;
  overflow: hidden;
}

li.vMenus{
  float: left;
}

li.vMenus a{
  display: block;
  color: #000000;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

li.vMenus a:hover{
  background-color: #f2f2f2;
  color: #000000;
}

.row{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.content{
	display: grid;
	grid-template-columns: 30% 70%;
	margin: 0px -15px;
}

.sidebar{
	background-color: #00FF85;
	padding: 35px;
	margin-right: 10px;
}

.contentArea{
	background-color: #83FF00;
	padding: 35px;
	margin-left: 10px;
}

p{
	text-align: justify;
	line-height: 1.5;
}

ul.news{
	text-align: justify;
}

li.newsContent{
	margin: 10px 0;
	line-height: 1.5;
}

footer{
	background-color: #FC0000;
	padding: 35px 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	color: #ffffff;
}